<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<main class="container">
<!-- Put this weekends fights here, then future fights they ahve to click on one of the organizations -->
  <h3>Find out what fights are coming up!</h3>
  <h4>Choose below which MMA organization you would like to view upcoming fight cards for!</h4>
  <div id="mmaContainer">

    <a href="/bellator"><img class="combatLogo" src="images/Bellator_logo.jpeg"></a>
    <a href="/ufc"><img class="combatLogo" src="images/UFC_logo.jpeg"></a>
    <a href="/onefc"><img class="combatLogo" src="images/One_FC_logo.jpeg"></a>


  </div>

</main>

<%- include('./partials/footer.ejs') %>
