
#mmaContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.combatLogo{
  width: 400px;
  height: 300px;
}

.container{
  text-align: center;
}

footer{

  bottom: 0;
  width: 90%;
  height: 2.5rem;
}
#footer{
  text-align: center;
  display: flex;
  justify-content: center;
}
main{
text-align: center;

}

ul{
  list-style-type: none
}
#passMessageWrong{
  color: red;
}
.logoImgs{
  padding-bottom: 30px;
}

.btn-danger{
  background-color: #A52A2A;
}
.lineUpButtons{
  display: flex;
  justify-content: center;
}
.editbuttons{
  margin-right: 15px;
}
#contact{
  margin-right: 40px;
}
#logo{
  color: #dc3545;
  font-size: 30px;
}
