
#mmaContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.combatLogo{
  width: 400px;
  height: 300px;
}

.container{
  text-align: center;
}

footer{
  text-align: center;
  bottom: 0;
  width: 90%;
  height: 2.5rem;

}
main{
text-align: center;

}
p{

  white-space: pre;
}
ul{
  list-style-type: none
}
#passMessageWrong{
  color: red;
}
.logoImgs{
  padding-bottom: 30px;
}

.btn-danger{
  background-color: #A52A2A;
}
