<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<main>

    <h3>Login Page</h3>
    <form action="/sessions" method="POST">
      <div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Example label</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
</div>
        <div class="row g-3 align-items-center">
  <div class="col-auto">
    <label for="inputPassword6" class="col-form-label">Password</label>
  </div>
  <div class="col-auto">
    <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
  </div>
  <div class="col-auto">
    <span id="passwordHelpInline" class="form-text">
      Must be 8-20 characters long.
    </span>
  </div>
</div>
        <br>
        <input type="submit" value="login user" />
    </form>
</main>

<%- include('../partials/footer.ejs') %>
